@model ProductViewModel

<h2>@Model.Name</h2>

<div class="row">
    <div class="col-md-6">
        <img src="@Model.ImageUrl" class="img-fluid" alt="Product Image">
    </div>
    <div class="col-md-6">
        <h4>Price: $@Model.Price</h4>
        <p>@Model.Description</p>
        <div class="button-container">
            <form id="addToCartForm" asp-action="AddToCart" asp-controller="Cart" method="post">
                <input type="hidden" name="productId" value="@Model.Id" />
                <input type="hidden" name="quantity" value="1" />
                <button type="button" class="btn btn-custom-pink_grey" onclick="addToCart()">Add to Cart</button>
            </form>

            <a href="@Url.Action("Create", "Review", new { id = Model.Id })" class="btn btn-custom-pink_grey mb-2">Leave a Review</a>
            @if (Model.Reviews.Any())
            {
                <h5 class="mt-4">Reviews</h5>
                @foreach (var review in Model.Reviews)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <h6 class="card-title">@review.CustomerName</h6>
                            <div>
                                @{
                                    int rating = review.Rating;
                                    for (int i = 1; i <= rating; i++)
                                    {
                                        <span class="fa fa-star checked" style="color: darkmagenta;"></span>
                                    }
                                }
                            </div>
                            <p class="card-text">@Html.Raw(@$"{(review.Comment.Length > 40 ? review.Comment.Substring(0, 40) + "..." : review.Comment)}")</p>
                            <p class="card-text">@review.CreatedAt.ToShortDateString()</p>
                            <a href="@Url.Action("Details", "Review", new { id = review.Id })" class="btn btn-sm btn-custom-pink_grey">Details</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function addToCart() {
            var form = document.getElementById('addToCartForm');

            var formData = new FormData(form);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', form.action, true);
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 400) {

                    console.log('Product added to cart successfully');
                    updateCartCounter(); 
                } else {
                    console.error('Failed to add product to cart');
                }
            };
            xhr.onerror = function () {
                console.error('Failed to send request');
            };
            xhr.send(formData);
        }

        function updateCartCounter() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/Cart/GetCartItemCount', true);
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 400) {
                    var cartCounterElement = document.querySelector('.cart-counter');
                    if (cartCounterElement) {
                        cartCounterElement.textContent = xhr.responseText;
                    }
                } else {
                    console.error('Failed to get cart item count');
                }
            };
            xhr.onerror = function () {
                console.error('Failed to send request');
            };
            xhr.send();
        }
    </script>
}